.links {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* flex-direction: column; */
  gap: 3em;

  font-size: 1.25em;

  padding-left: 1em;
  padding-right: 1em;
}

@media screen and (max-width: 1024px) {
  .links {
    font-size: 1.05em;
  }
}

.links__objects {
  display: flex;
  /* flex-direction: column; */
  align-items: center;

  padding-left: 0.25em;
  padding-right: 0.25em;
  gap: 1em;

  /* background: rgba(255, 255, 255, 0.5); */

  /* box-shadow: inset 0px 1px 2px rgba(97, 97, 97, 0.2), */
  /* inset 0px 2px 4px rgba(97, 97, 97, 0.2); */
  border-radius: 1em;
}

.links__objects-link {
  color: var(--text-black);
  border-radius: 1em;
  padding: 0.25em 0.75em;
  /* transition: all 0.3s ease; */
  /* background-color: var(--background-grey-light);  */
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.links__objects-link--active {
  color: var(--text-white);
  background: var(--background-blue);
  /* box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), */
  /* 0px 2px 4px rgba(97, 97, 97, 0.2); */
}

.links__objects-link {
  text-decoration: none;
}

.objects {
  display: grid;
  grid-template-columns: repeat(1, min-content);
  justify-content: center;
  font-size: 0.97em;
  gap: 0.5em;
  align-content: baseline;
  /* transition: all 0.5s ease; */
}

@media screen and (max-width: 1600px) {
  .objects {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1440px) {
  .objects {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1366px) {
  .objects {
    font-size: 0.775em;
  }
}

@media screen and (max-width: 1280px) {
  .objects {
    font-size: 0.925em;
  }
}

@media screen and (max-width: 1024px) {
  .objects {
    font-size: 0.75em;
  }
}

.objects--two-objects {
  grid-template-columns: repeat(2, min-content);
}

.objects--three-objects {
  grid-template-columns: repeat(3, min-content);
}

.objects__log {
  white-space: nowrap;
  font-size: 2em;
  color: var(--text-green);
}

.object {
  padding: 1em;
  border-radius: 1em;
  border: 1px solid var(--border-grey);
  background-color: var(--energo-lightblue);
  box-shadow: 0px 4px 8px 0px var(--shadow);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.object--show {
  opacity: 1;
  visibility: visible;
}

.object__title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}

.equipments-items {
  display: grid;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1em;
  /* transition: all 0.5s ease; */
}

.equipments-items--two-columns {
  grid-template-columns: repeat(2, min-content);
}

.equipments-items--three-columns {
  grid-template-columns: repeat(3, min-content);
}

@media screen and (max-width: 1440px) {
  .equipments-items--three-columns {
    grid-template-columns: repeat(2, min-content);
  }
}

@media screen and (max-width: 1366px) {
  .equipments-items--three-columns {
    grid-template-columns: repeat(3, min-content);
  }
}

@media screen and (max-width: 1280px) {
  .equipments-items--three-columns {
    grid-template-columns: repeat(2, min-content);
  }
}

.equipments {
  display: grid;
  gap: 0.75em;
  min-width: 19em;
  padding: 1em;
  background-color: var(--background-white);
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px var(--shadow);
  /* transition: all 0.3s ease; */
}

@media screen and (max-width: 600px) {
  .equipments {
    width: 100%;
  }
}

.equipments__title {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.25em;
  white-space: normal;
}

.equipments__title span {
  display: none;
}

@media screen and (max-width: 1023px) {
  .equipments__title span {
    display: block;
  }
}

.equipments__header {
  display: grid;
  grid-template-columns: 2em 1fr;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0.5em;

  /* font-weight: bold; */
  text-align: center;
  border-bottom: 1px solid var(--border-grey);
  border-top: 1px solid var(--border-grey);
  /* height: 2em; */
}

.equipment {
  display: grid;
  grid-template-columns: 2em 1fr;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
}

.equipment--status-work {
  /* background-color: #fdedeb;
  color: #e74c3c; */
  background-color: var(--background-red-alpha);
  color: var(--text-red);
  filter: drop-shadow(0px 0px 2px var(--text-red));
}

.equipment--status-repair {
  /* background-color: #fff4e5;
  color: #ff9500; */
  background-color: var(--background-yellow-alpha);
  color: var(--text-yellow);
  filter: drop-shadow(0px 0px 2px var(--text-yellow));
}

.equipment--status-reserve {
  /* background-color: #e8f7ee;
  color: #1bb55c; */
  background-color: var(--background-green-alpha);
  color: var(--text-green);
  filter: drop-shadow(0px 0px 2px var(--text-green));
}

.equipment--status-notinreserve {
  background-color: var(--background-blue-alpha);
  color: var(--text-blue);
  filter: drop-shadow(0px 0px 2px var(--text-blue));
}

.equipment--status-conservation {
  /* background-color: #f4f4f4;
  color: #979797; */
  background-color: var(--background-grey-alpha);
  color: var(--text-grey);
  filter: drop-shadow(0px 0px 2px var(--text-grey));
}

.equipment--status-demount {
  /* background-color: #e7e7e7;
  color: var(--text-black); */
  background-color: var(--background-black-alpha);
  color: var(--text-black);
  filter: drop-shadow(0px 0px 2px var(--text-black));
}

.equipment__id {
  background-color: #f0f0f0;
  color: var(--text-black);
  filter: drop-shadow(1px 1px 3px var(--border-darkgrey));
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 1.15em;
  font-weight: bold;
}

.equipment__status {
  display: flex;
  flex-direction: column;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.equipment__status-text {
  font-size: 1.15em;
  margin-bottom: 0.15em;
  text-align: center;
}

.equipment__status-period {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-black);
  font-size: 0.85em;
}

.equipment__status-end {
  flex-grow: 1;
}

.equipment--period-arrow {
  width: 1em;
  height: 1em;
  background-image: url(../images/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.wrapper--equipments {
  display: grid;
  gap: 1em;
}

.links__date-controls {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 0.5em;
}

#links__date-input-main {
  background-color: var(--background-blue);
  color: var(--text-white);
  /* border: 1px solid var(--border-grey); */
  border: none;
  border-radius: 1em;
  padding: 0.25em 0.25em 0.25em 0.75em;
  height: 100%;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.wrapper--links-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.links__date-minus,
.links__date-plus {
  width: 1.5em;
  height: 1.5em;
  background-position: center;
  background-size: 1em;
  background-repeat: no-repeat;
  /* border: 2px solid var(--background-grey-dark); */
  border-radius: 2em;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.links__date-minus {
  background-image: url(../images/arrow-left.svg);
}

.links__date-plus {
  background-image: url(../images/arrow-right.svg);
}

.links__date-today {
  color: var(--text-grey);
  border-radius: 10em;
  padding-top: 0.45em;
  padding-bottom: 0.45em;
  padding-left: 0.55em;
  padding-right: 0.55em;
  font-size: 0.85em;
  line-height: 1em;
  /* border: 1px solid var(--border-grey); */
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.links__date-today--active {
  background-color: var(--background-blue);
  color: var(--text-white);
  border: none;
}
