@import url(./sizes.css);
@import url(./colors.css);
@import url(./fonts.css);

/* * {
  background-color: rgba(255, 0, 0, 0.2);
}
* * {
  background-color: rgba(0, 255, 0, 0.2);
}
* * * {
  background-color: rgba(0, 0, 255, 0.2);
}
* * * * {
  background-color: rgba(255, 0, 255, 0.2);
}
* * * * * {
  background-color: rgba(0, 255, 255, 0.2);
}
* * * * * * {
  background-color: rgba(255, 255, 0, 0.2);
}
* * * * * * * {
  background-color: rgba(255, 0, 0, 0.2);
}
* * * * * * * * {
  background-color: rgba(0, 255, 0, 0.2);
}
* * * * * * * * * {
  background-color: rgba(0, 0, 255, 0.2);
} */

*,
*::after,
*::before,
body,
html {
  box-sizing: border-box;
  outline: none;
}

body,
html {
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  html {
    /* font-size: 3vw; */
  }
}

body {
  text-rendering: auto;
  min-width: 320px;
  font-family: 'Roboto Condensed', sans-serif;
  /* font-family: Ubuntu, sans-serif; */
  font-weight: normal;
  font-style: normal;
  color: var(--text-black);
  background-color: var(--background-body);
}

.loader {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
}

.loader--equipments {
  margin-left: auto;
}

.loader div {
  display: inline-block;
  position: absolute;
  left: 0.125em;
  width: 0.25em;
  background: var(--background-blue);
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
  left: 0.125em;
  animation-delay: -0.24s;
}

.loader div:nth-child(2) {
  left: 0.5em;
  animation-delay: -0.12s;
}

.loader div:nth-child(3) {
  left: 0.875em;
  animation-delay: 0;
}

@keyframes loader {
  0% {
    top: 0.125em;
    height: 1em;
  }
  50%,
  100% {
    top: 0.375em;
    height: 0.5em;
  }
}

input[type='checkbox'],
input[type='radio'],
input[type='date'],
label {
  cursor: pointer;
}

input[type='date'] {
  color: var(--text-black);
  position: relative;
  /* width: 100%; */
}

input[type='date']::-webkit-textfield-decoration-container {
  background-color: red;
  color: var(--text-white);
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;

  /* display: none; */
  -webkit-appearance: none;

  background: transparent;

  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  color: transparent;
  height: auto;
  width: auto;
}

.font--small {
  font-size: 0.75em;
}

.noscroll {
  overflow: hidden;
}

.hide {
  display: none;
}

.transparent {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.page {
  position: relative;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.5em;
  height: 100%;
}

@media (max-width: 1440px) {
  .page {
    font-size: 14px;
  }
}

.page--with-menubar {
  padding-top: calc(var(--menubar-height) + 0.5em);
}

#toggleFullScreen {
  width: 3em;
  height: 3em;
  position: fixed;
  top: 600px;
  border-radius: 3em;
  background-color: white;
  background-image: url(../images/fullscreen.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.25em;
  opacity: 0.33;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px var(--shadow);
}

.menubar {
  display: flex;
  gap: 1em;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--menubar-height);
  padding: 0.5em 1em;
  background-color: var(--energo-blue);
  box-shadow: 0px 4px 8px 0px var(--shadow);
  z-index: 100;
}

.menubar__title {
  color: var(--energo-wheat);
  font-weight: normal;
  font-size: 1.75em;
  font-weight: lighter;
}

.logo {
  width: var(--menubar-height);
  height: var(--menubar-height);
  background-image: url(../images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.main {
  display: grid;
  align-content: flex-start;
}

.main--shutdowns {
}

.main--equipment {
  gap: 1em;
  height: 100%;
}

.columns {
  display: grid;
}

.columns--2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.tasks {
  display: grid;
  place-content: center;
  padding: 1em;
}

.tasks__items {
  display: grid;
  gap: 1em;
}

.tasks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-black);
  font-size: 2em;
  text-decoration: none;
  padding: 0.25em 1em;
  box-shadow: 0px 4px 8px 0px var(--shadow);
  border-radius: 1em;
  background-color: var(--background-white);
  transition: all 0.3s ease;
}

.tasks__link:hover {
  background-color: var(--background-blue-alpha);
}

.tasks__link::before {
  content: '';
  width: 3em;
  height: 3em;
  margin-right: 1em;
  background-size: 2.5em;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  border-radius: 3em;
  border: 3px solid #f9f9f9;
  filter: drop-shadow(1px 1px 1px var(--shadow));
}

.tasks__link--shutdowns::before {
  background-image: url(../images/shutdowns.svg);
}

.tasks__link--equipment::before {
  background-image: url(../images/equipment.svg);
}

.popup {
  height: 0;
  visibility: hidden;
}

.popup--open {
  height: 100vh;
  visibility: visible;
}

.popup__opener {
  position: absolute;
  right: 0;
  top: 0;
  width: 4em;
  height: 100%;
  background-image: url(../images/hamburger.svg);
  background-size: 2em;
  background-position: center;
  background-repeat: no-repeat;
}

.popup__closer {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  background-image: url(../images/close.svg);
  background-size: 1em;
  background-position: center;
  background-repeat: no-repeat;
}

.popup__body {
  background-color: var(--popup-background-body);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: grid;
  place-items: center;
  padding: 1em;
}

.popup__content {
  min-width: 300px;
  position: relative;
  background-color: white;
  padding: 1em;
  box-shadow: 0px 4px 8px 0px var(--shadow);
}

.report {
  display: grid;
  gap: 1em;
}

.report__period {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.report__param {
  display: flex;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.report__param--equipment {
  font-size: 1.5em;
}

.report__param-radio,
.report__param-checkbox {
  height: 1.25em;
  width: 1.25em;
  margin-right: 0.5em;
}

.report__button {
  background-color: var(--background-blue);
  color: white;
  padding: 1em 2em;
  justify-self: flex-start;
}

.wrapper--flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
