@media (max-width: 1440px) {
  .page {
    font-size: 12px;
  }
}

@media (max-width: 960px) {
  .page {
    font-size: 9px;
  }
}

@media (max-width: 600px) {
  .menubar__title {
    font-size: 1.25em;
  }

  .page {
    font-size: 5px;
  }
}

.page__caption {
  font-size: 2em;
  margin-bottom: 0.25em;
  text-align: center;
  white-space: nowrap;
}

table {
  border-spacing: 0;
  border-top: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
  border-left: 1px solid var(--border-grey);
  margin-bottom: 2em;
  /* фон таблице задаем здесь, иначе перебъет фон для колонок <col> */
  background-color: var(--background-white);
}

.table__caption {
  font-size: 2em;
  margin-bottom: 0.25em;
  text-align: center;
  white-space: nowrap;
}

thead {
  background-color: var(--table-header);
  color: var(--text-white);
}

thead td {
  text-align: center;
  vertical-align: middle;
  line-height: 1.25em;
}

tbody tr:last-child td {
  border-bottom: none;
}

td {
  padding: 0.25em;
  border-bottom: 1px solid var(--border-grey);
  border-right: 1px solid var(--border-grey);
  line-height: 1.25em;
}

.table--fit {
  width: 100%;
}

.table--fit .table__caption {
  white-space: normal;
}

.table--fit td {
  padding: 0.5em;
}

.table--centered-data {
  text-align: center;
}

.table--striped tbody tr:nth-child(2n) {
  background-color: var(--table-striped);
}

.table--centered-data td {
  vertical-align: middle;
}

.table--vertical-header tbody td:first-child {
  font-weight: bold;
}

.tr--total {
  font-weight: bold;
}

.col--filled,
.tr--filled {
  background-color: var(--background-green-alpha);
}

.datetime {
  text-align: center;
  font-size: 0.85em;
}

.datetime .date,
.date .time {
  display: block;
}

.show-all-columns {
  margin-left: 1em;
  display: flex;
  align-items: center;
  font-size: 0.5em;
  color: var(--text-red);
  cursor: pointer;
}

.show-all-columns__checkbox {
  height: 1.25em;
  width: 1.25em;
  margin-right: 0.5em;
}
