.table {
  display: grid;
  border: 1px solid black;
  margin-bottom: 3em;
}

.table--centered-data {
  text-align: center;
}

.table__caption {
  border-bottom: 1px solid black;
}

.table__header {
  background-color: plum;
  border-bottom: 1px solid black;
}

.table__row {
  display: grid;
}

.table--sample .table__row {
  grid-template-columns: repeat(5, 1fr);
}

.table--shutdowns-main-network .table__row {
  grid-template-columns: repeat(25, 1fr);
}

.table__body {
  background-color: wheat;
}

.table--scrollable .table__body {
  overflow-y: scroll;
  height: 100px;
}

.table__cell {
  padding: 0.25em;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.table__cell:last-child {
  border-right: none;
}

.table__header .table__cell {
  border-top: none;
  border-bottom: none;
}

.table__row:last-child .table__cell {
  border-bottom: none;
}
